
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="/style/principal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/style/principal.css" type="text/css" media="screen"/>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
     <!-- <link rel="stylesheet" href="/style/style.css" type="text/css" media="screen"/>    -->
       
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        
 </head>
<body>
    
    <%- include("template/navbar") %>
    <form action="/campeonatos" method="POST"></form>
    <section class=" camp">
        <h1>Crear Campeonato</h1>
        <hr>
           <div class=" g-3 contenedor">
             <div class="col-auto contenedores">
              
                 <div class="col"><label for="" >Nombre del Campeonato</label></div>
                 <div  class="col"><label for="" >Lugar</label></div>
                 <div  class="col"><label for="" >Número de equiipos</label></div>
                 <div  class="col"><label for="" >Premio 1er Puesto</label></div>
                 <div  class="col"><label for="" >Premio 2er Puesto</label></div>
                 <div  class="col"><label for="" >Fecha de apertura</label></div>
                 <div  class="col"><label for="" >Fecha de Clausura</label></div>
               </div>
              
             <div class="col-auto contenedores" >
               <div class="camp_imput">
                 <div  class="col1"><input type="text" name="nombreC" id="" class="form-control imp_camp" aria-describedby="passwordHelpInline"></div>
                 <div  class="col1"><input type="text" name="lugar" id="" class="form-control imp_camp" ></div>
                 <div  class="col1"><input type="number" name="cantidad" id="" class="form-control imp_camp" ></div>
                 <div  class="col1"><input type="text" name="premio1" id="" class="form-control imp_camp" ></div>
                 <div  class="col1"><input type="text" name="premio2" id="" class="form-control imp_camp" ></div>
                 <div  class=" col2">
                   <input type="date" id="" name="fechaAp"class="form-control imp_camp1" >
                   <select class="form-select col2 col3" aria-label="Default select example" name="estado">
                     <option selected>Seleccione</option>
                     <option value="Inscripción Abierta">Inscripción Abierta</option>
                     <option value="Inscripción Cerrada">Inscripción Cerrada</option>
                     <option value="En Progreso">En Progreso</option>
                     <option value="Terminada">Terminada</option>
                     <option value="Cancelado">Cancelado</option>
               </select></div>
                 <div  class="col1"><input type="date" id="" class="form-control imp_camp1" name="fechaCl"></div>
               </div>
             </div>
             <div class="but-camp">
           <button type="button" class="btn btn-outline-success ">Crear</button>
           <!-- <button type="button" class="btn btn-outline-danger">Editar</button> -->
         </div>
           </div>             
              
           
     </section>
      
    </form>
<%- include("template/footer") %>