
 

  

<section class="section">
<nav className='menu '>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark tam" >
    <a class="nav-link text-white fs-5 bg-dark" href="/" >
        Inicio
      </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
    <li>
        <a href="../usuario" class="nav-link text-white fs-5">
        Usuarios
        </a>
      </li>
      <li>
        <a href="/mascotas" class="nav-link text-white fs-5">
        Campeonatos
        </a>
      </li>
      <li>
        <a href="/partidos" class="nav-link text-white fs-5">
         partidos
        </a>
      </li>
      <li>
        <a href="/equipos" class="nav-link text-white fs-5">
          equipos
        </a>
      </li>
      <li>
        <a href="/" class="nav-link text-white fs-5">  
          salir
        </a>
      </li>
    </ul>
             
</div>
</nav>

